.app{
  display:flex;
  min-height:100%;
}

.container{
  width:100%;
  max-width:1100px;
  margin:0 auto;
  padding:20px;
}

.grid{
  display:grid;
  gap:var(--gap);
}

@media (min-width: 900px){
  .grid.metrics{
    grid-template-columns: repeat(3, 1fr);
  }
}
